* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    max-height: 99999px;
;
}
@font-face {
    font-family: "ArialRegular";
    src: url("../Fonts/Arial/ArialRegular/ArialRegular.eot");
    src: url("../Fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"),
    url("../Fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSans-Regular";
    src: url("../Fonts/ptsans/PTS55F.ttf");
    /*src: url("../Fonts/ptsans/PTS56F.ttf");
    src: url("../Fonts/ptsans/PTS75F.ttf");
    src: url("../Fonts/ptsans/PTS76F.ttf");*/
}
.page-wrapper {
    padding: 50px 38px 0px 38px;
    font-family: 'ArialRegular', sans-serif;
}
.person-name h3 {
    font-size: 31px;
}
p {
    font-size: 31px;
}
.person-name {
    padding-left: 259px;
    line-height: 39px;
}
.person-name div p {
    color: #808080;
    font-size: 26px;
}
.person-photo img {
    width: 100%;
}
.person-text {
    padding-left: 243px;
    box-shadow: 0 0 0 1px rgba(60, 44, 0, 0.25);
    background-color: #fffbc8;
    border-radius: 10px;
    margin-left: 44px;
    margin-top: 6px;
    padding-top: 10px;
}
.person-text div p {
    padding: 4px;
    line-height: 40px;
    margin-left: -34px;
    font-size: 29px;

}
.all_reviews {
    color: blue;
    font-size: 31px;
    border-bottom: 2px solid blue;
    margin-top: 8px;
}
.last_reviews {
    font-size: 36px;
    border: none;
    color: black;
    font-weight: bold;
}

.newClassAll {
    font-size: 36px;
    border: none;
    color: black;
    font-weight: bold;
}
.newClassLast {
    color: blue;
    font-size: 31px;
    border-bottom: 2px solid blue;
    font-weight: normal;
    margin-top: 10px;
}
.person-photo {
    width: 240px;
    position: absolute;
    top: -86px;
}
.person-photo-wrap {
    position: relative;
}
h3 {
    font-size: 39px;
    font-weight: 700;
}
.person-text div {
    height: 104px;
}
.services {
    display: flex;
    flex-direction: column;
    margin-left: 257px;
}
.services-text {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 87px;
}
.graph-wrap {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 15px;
    padding-top: 27px;
    padding-right: 111px;
}

.graph {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}
.green-line {
    width: 440px;
    height: 50px;
    border-left: 2px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #b1e19b;
}

.blue-1-line {
    width: 127px;
    height: 50px;
    border-left: 2px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ace2f8;
}

.line-number p {
    font-weight: bold;
}
.blue-2-line {
    width: 81px;
    height: 50px;
    border-left: 2px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ace2f8;
}
.line div {
    padding: 10px;
    display: flex;
}
.line div p {
    padding-right: 5px;
}
.line-number p {
    padding-top: 18px;
}
.total {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 112px;
}
.blue-2 {
    padding-bottom: 30px;
}
.img-com {
    width: 28px;
    margin-right: 15px;
}
.img-like {
    width: 28px;
    margin-right: 15px;
}
img {
    width: 100%;
}
.reviews {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}
.reviews-count {
    display: flex;
}

.all-comments {
    padding-left: 25px;
}

.like-com {
    display: flex;
}
.like {
    display: flex;
    padding-right: 54px;
}
.com {
    display: flex;
}
.user {
    display: flex;
}
.write-name {
    padding-right: 10px;
}
.write-name p {
    font-weight: bold;
}
.data {
    padding-top: 5px;
}
.data p {
    color: #808080;
    font-size: 24px;
}
.write-text {
    margin-top: 30px;
    background: #f2fbff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.19);
}
.write-text p {
    padding: 20px;
    line-height: 43px;
}
.comments-wrap {
    padding-top: 30px;
}
.triangle {
    border: 20px solid transparent;
    border-left: 20px solid #f2fbff;
    position: absolute;
    left: 55px;
    top: -20px;
}
.write {
    padding-top: 30px;
}
.send-text-wrap {
    background-color: #f2f2f2;
    margin-top: 40px;
    margin-left: -40px;
    height: auto;
    overflow: hidden;
    margin-right: -40px;
    padding-top: 58px;
    padding-left: 36px;
    padding-right: 36px;
}
.button-wrap {
    padding-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.button-wrap button {
    font-family: "PTSans-Regular", sans-serif;
    font-size: 30px;
    padding: 20px 100px;
    background-color: #fdd639;
    border-radius: 60px;
    font-weight: bolder;
}
textarea {
    width: 100%;
    height: 125px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.44), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #000000;
    resize: none;
}

    @media (min-width: 768px) {
        textarea {
            font-size: 31px;
        }
    }







